/**
 * partials/footer
 * ---
 */


.footer {
    background-color: $color_primary-dark;
    padding: 16px;
    margin: 48px 0 0 0;

    h4 {
        color: $color_white;
        font-weight: 700;
    }
    p {
        font-size: 14px;
        color: $color_white;
    }
    ul {
        list-style: none;
        padding: 0;
    a {
        font-size: 14px;
        color: $color_white;
    }
}

    .button {
        display: block;
       max-width: 176px;
    }
    
}
