/**
 * partials/wrapper
 * ---
 */

body {
   background-color: $color_grey-light;
   
 }

.wrapper {
  max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative;
  background: $color_white;
  border: 2px solid $color_grey-base;
}
