/**
 * partials/wrapper
 * ---
 */

 html {
   background-color: $color_white;
 }

.wrapper {
  // z-index: -10;
  max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative;
  background: $color_white;

}
