/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,400i,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #2B2B2B;
  background-color: #fff; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #2B2B2B;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-family: Lato;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff; }

h2 {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px; }

h3 {
  font-weight: 700;
  font-size: 18px; }

p {
  font-weight: 400;
  font-size: 16px; }

a {
  color: #4E83CB; }

.sub {
  font-size: 14px;
  color: #EEEEEE; }

.button {
  border-radius: 8px;
  padding: 8px 16px;
  margin: 16px 0;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 16px 0;
  border: none; }
  .button:hover {
    color: #ffffff;
    text-decoration: none; }
  .button.primary {
    background: #01579B; }
    .button.primary:hover {
      background-color: #4E83CB; }
  .button.small {
    font-size: 14px;
    padding: 4px 32px; }
    .button.small.phone {
      background-image: url("img/icons/icon-phone.svg");
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-position: 24px;
      padding-left: 48px; }
    .button.small.mail {
      background-image: url("img/icons/icon-mail.svg");
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: 16px;
      padding-left: 40px; }

a.link {
  margin: 16px 0;
  font-size: 14px;
  color: #ffffff;
  height: 16px;
  background-image: url("img/icons/icon-chevron-right.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 24px; }
  a.link:hover {
    text-decoration: underline; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
.wysiwyg-content {
  /**
  * Alignment
  */
  /**
  * Gallery & images
  */ }
  .wysiwyg-content .alignnone {
    margin: 5px 0 0 0; }
  .wysiwyg-content .aligncenter {
    display: block;
    margin: 5px auto; }
  .wysiwyg-content .alignright {
    float: right;
    margin: 5px 0 0 0; }
  .wysiwyg-content .alignleft {
    float: left;
    margin: 5px 0 0 0; }
  .wysiwyg-content .wp-caption {
    background: #fff;
    border: thin solid #F0F0F0;
    max-width: 95%;
    padding: 5px 5px;
    text-align: center; }
    .wysiwyg-content .wp-caption img {
      width: auto;
      max-width: 98.5%;
      height: auto;
      border: 0 none;
      padding: 0;
      margin: 0; }
  .wysiwyg-content .wp-caption .wp-caption-text,
  .wysiwyg-content .gallery-caption {
    margin: 0;
    padding: 0 5px 5px;
    font-size: 16px;
    line-height: 1.4; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/wrapper
 * ---
 */
html, body {
  background-color: #EEEEEE; }

.wrapper {
  max-width: 1140px;
  padding: 0 0;
  margin: 0 auto;
  position: relative;
  background: #ffffff;
  box-shadow: 0 2px 10px #EEEEEE; }

/**
 * partials/header
 * ---
 */
.header {
  background-color: #002F6C; }
  .header .mobile-nav-button {
    display: inline-block;
    margin: 24px 0 0 0;
    padding-top: 15px;
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer; }
    @media (min-width: 768px) {
      .header .mobile-nav-button {
        display: none; } }
    .header .mobile-nav-button span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #ffffff;
      border-radius: 8px;
      opacity: 1;
      -webkit-transition: .2s ease-in-out;
      -moz-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: .2s ease-in-out; }
      .header .mobile-nav-button span:nth-child(1) {
        top: 0; }
      .header .mobile-nav-button span:nth-child(2) {
        top: 8px; }
      .header .mobile-nav-button span:nth-child(3) {
        top: 16px; }
    .header .mobile-nav-button.open span:nth-child(1) {
      top: 8px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    .header .mobile-nav-button.open span:nth-child(2) {
      opacity: 0; }
    .header .mobile-nav-button.open span:nth-child(3) {
      top: 8px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }

.mobile-nav-container {
  background-color: #ffffff;
  padding: 0 32px;
  display: none;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.25); }
  .mobile-nav-container.open {
    display: block; }
  @media (min-width: 768px) {
    .mobile-nav-container.open {
      display: none; } }
  .mobile-nav-container ul {
    list-style: none;
    padding: 0; }
    .mobile-nav-container ul li {
      display: block;
      padding: 16px 0 16px 16px;
      border-bottom: 1px solid #D8D8D8; }
      .mobile-nav-container ul li:last-of-type {
        border-bottom: none; }
      .mobile-nav-container ul li a {
        color: #2B2B2B;
        text-decoration: none;
        color: #2B2B2B;
        font-weight: 400;
        line-height: 24px; }
        .mobile-nav-container ul li a:active {
          color: #4E83CB;
          border-bottom: none; }
      .mobile-nav-container ul li:before {
        content: none; }
      .mobile-nav-container ul li.current-menu-item a {
        color: #4E83CB; }

.desktop-nav-container {
  text-align: right; }
  .desktop-nav-container ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .desktop-nav-container ul li {
      display: inline-block;
      padding: 16px 0 16px 16px; }
      .desktop-nav-container ul li a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 400;
        line-height: 24px; }
        .desktop-nav-container ul li a:active, .desktop-nav-container ul li a:hover {
          border-bottom: 1px solid #ffffff; }
      .desktop-nav-container ul li.current-menu-item a {
        border-bottom: 1px solid #ffffff; }

.logo {
  display: inline; }

/**
 * partials/nav
 * ---
 * Menus
 */
.nav {
  display: inline-block; }

.menu li {
  display: inline-block; }

/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
.footer {
  background-color: #002F6C;
  padding: 16px; }
  .footer h4 {
    color: #ffffff;
    font-weight: 700; }
  .footer p {
    font-size: 14px;
    color: #ffffff; }
  .footer .button {
    display: block; }

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.default-page .title-wrapper {
  background-color: #01579B;
  margin: 0 0 32px 0; }
  .default-page .title-wrapper h1 {
    margin: 24px 0; }

.default-single .title-wrapper {
  background-color: #01579B;
  margin: 0 0 16px 0; }
  .default-single .title-wrapper span {
    display: block;
    margin: 24px 0;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    line-height: 0.6;
    height: 16px;
    background-image: url("img/icons/icon-chevron-left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px; }

.default-single h1 {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  color: #2B2B2B; }

.default-single .date {
  display: block;
  font-size: 14px;
  margin: 0 0 40px 0; }
  .default-single .date img {
    padding: 0 8px 0 1px; }

.single-uitslagen .title-wrapper {
  background-color: #01579B;
  margin: 0 0 16px 0; }
  .single-uitslagen .title-wrapper span {
    display: block;
    margin: 24px 0;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    line-height: 0.6;
    height: 16px;
    background-image: url("img/icons/icon-chevron-left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px; }

.single-uitslagen h1 {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  color: #2B2B2B; }

.single-uitslagen .date {
  display: block;
  font-size: 14px;
  margin: 0 0 40px 0; }
  .single-uitslagen .date img {
    padding: 0 8px 0 1px; }

.single-uitslagen .uitslagen-vlucht-type-tag {
  float: right;
  font-size: 12px;
  color: #002F6C;
  border: 1px solid #002F6C;
  border-radius: 20px;
  padding: 2px 16px; }

.news-page .title-wrapper {
  background-color: #01579B;
  margin: 0 0 16px 0; }
  .news-page .title-wrapper span {
    display: block;
    margin: 24px 0;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    line-height: 0.6;
    height: 16px;
    background-image: url("img/icons/icon-chevron-left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px; }

.news-page article {
  border-bottom: 1px solid #EEEEEE; }
  .news-page article a {
    background-image: url("img/icons/icon-chevron-right.svg");
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: 95%;
    display: block;
    padding: 8px 40px 8px 0;
    text-decoration: none; }
    .news-page article a h2 {
      font-weight: 400;
      font-size: 16px;
      color: #2B2B2B; }
      .news-page article a h2:hover {
        color: #4E83CB; }
    .news-page article a .date {
      display: block;
      font-size: 14px;
      color: #9B9B9B; }
      .news-page article a .date img {
        padding: 0 8px 0 1px; }

.news-page .pagination {
  display: block;
  margin: 32px 0;
  text-align: center; }
  .news-page .pagination .page-numbers {
    padding: 0 8px; }

.uitslagen-archive-page .title-wrapper {
  background-color: #01579B;
  margin: 0 0 0 0; }
  .uitslagen-archive-page .title-wrapper span {
    display: block;
    margin: 24px 0;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    line-height: 0.6;
    height: 16px;
    background-image: url("img/icons/icon-chevron-left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px; }

.uitslagen-archive-page .form-wrapper {
  background-color: #EEEEEE;
  margin: 0 0 32px 0;
  padding: 24px 0; }
  .uitslagen-archive-page .form-wrapper form select {
    width: 100%; }

.uitslagen-archive-page .uitslag-vlucht-type {
  padding: 48px 0 16px 0;
  font-weight: 700;
  font-size: 24px;
  color: #2B2B2B; }
  .uitslagen-archive-page .uitslag-vlucht-type:first-of-type {
    padding-top: 0; }

.uitslagen-archive-page article a {
  background-image: url("img/icons/icon-chevron-right.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: 95%;
  display: block;
  padding: 8px 40px 8px 0;
  border-bottom: 1px solid #EEEEEE;
  text-decoration: none; }
  .uitslagen-archive-page article a h2 {
    font-size: 16px;
    color: #2B2B2B;
    font-weight: 400; }
    .uitslagen-archive-page article a h2:hover {
      color: #4E83CB; }
  .uitslagen-archive-page article a .date {
    display: block;
    font-size: 14px;
    color: #9B9B9B; }
    .uitslagen-archive-page article a .date img {
      padding: 0 8px 0 1px; }

.uitslagen-archive-page article .uitslagen-empty {
  color: #D8D8D8; }

.uitslagen-archive-page .pagination {
  display: block;
  margin: 32px 0;
  text-align: center; }
  .uitslagen-archive-page .pagination .page-numbers {
    padding: 0 8px; }

.home-page .header-wrapper {
  background-image: url("img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80px;
  width: 100%; }

.home-page .uitslagen-block {
  padding: 32px 0 32px 0; }
  .home-page .uitslagen-block article {
    border-bottom: 1px solid #EEEEEE; }
    .home-page .uitslagen-block article:last-of-type {
      margin: 0 0 40px 0; }
    .home-page .uitslagen-block article a {
      background-image: url("img/icons/icon-chevron-right.svg");
      background-size: 8px;
      background-repeat: no-repeat;
      background-position: 95%;
      display: block;
      padding: 8px 40px 8px 0;
      text-decoration: none;
      text-decoration: none; }
      .home-page .uitslagen-block article a h2 {
        font-size: 16px;
        color: #2B2B2B;
        font-weight: 400; }
        .home-page .uitslagen-block article a h2:hover {
          color: #4E83CB; }
      .home-page .uitslagen-block article a .date {
        display: block;
        font-size: 14px;
        color: #9B9B9B; }
        .home-page .uitslagen-block article a .date img {
          padding: 0 8px 0 1px; }

.home-page .agenda-block {
  padding: 32px 0 32px 0;
  background-color: #01579B;
  color: #ffffff; }

.home-page .news-block {
  padding: 32px 0 32px 0; }
  .home-page .news-block article {
    border-bottom: 1px solid #EEEEEE; }
    .home-page .news-block article:last-of-type {
      margin: 0 0 40px 0; }
    .home-page .news-block article a {
      background-image: url("img/icons/icon-chevron-right.svg");
      background-size: 8px;
      background-repeat: no-repeat;
      background-position: 95%;
      display: block;
      padding: 8px 40px 8px 0;
      text-decoration: none; }
      .home-page .news-block article a h2 {
        font-weight: 400;
        font-size: 16px;
        color: #2B2B2B; }
        .home-page .news-block article a h2:hover {
          color: #4E83CB; }
      .home-page .news-block article a .date {
        display: block;
        font-size: 14px;
        color: #9B9B9B; }
        .home-page .news-block article a .date img {
          padding: 0 8px 0 1px; }

.home-page .duivenhouden-block {
  padding: 0 0 64px 0;
  background-color: #EEEEEE; }
  .home-page .duivenhouden-block .block-header-wrapper {
    margin: 0 0 32px 0;
    background-image: url("img/duivenhouden.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px; }
  .home-page .duivenhouden-block p {
    padding: 0 0 16px 0; }

hr {
  /* Line 2 Copy: */
  border: 1px solid #EEEEEE; }

/*# sourceMappingURL=style.css.map */
